@import '../config/variables';
@import '../config/mixins';

.Topbar {
  @include flexCenter(row);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color2;
  height: 70px;
  z-index: 100;
  transition: 0.3s;
}

.Topbar__MenuIcon {
  position: absolute;
  top: 35px;
  left: -50px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: $color1;
  cursor: pointer;
  transition: left 0.3s linear;
  &:hover {
    color: $color1-hover;
  }
}

.Topbar__Link {
  @include linkUnstyle();
}

.Topbar__Title {
  color: $color4;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

@media (max-width: 1024px) {
  .Topbar__MenuIcon {
    left: 50px;
  }
}
