@import '../config/variables';
@import '../config/mixins';

.Topbar {
  @include flexCenter(row);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color2;
  height: 70px;
  z-index: 100;
  transition: 0.3s;
}

.Topbar__Link {
  @include linkUnstyle();
}

.Topbar__Title {
  color: $color4;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}
